.navbar {
    position: sticky;
    top: 0;
    line-height: 3;
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #502F4C;
    z-index: 2;
}

.navLink {
    color: #502F4C;
    text-decoration: none;
    font-size:xx-large;
    font-family: "Londrina Shadow", serif;
    font-weight: 900;
    font-style: normal;
}

.active {
    font-size: 2rem;
    text-decoration: underline;
    color:#fe654f;
    border-radius: 4px;
}