.header {
  font-family: "Yusei Magic", serif;
  font-size: 1.5rem;
}

.cards {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.card {
  color: white;
  padding: 1rem;

}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}
